<li class="event">
  <time datetime="2012-03-05T11:16:45">08h35</time>
  <%= link_to notification.teacher.name, teacher_path(notification.teacher) %> a postulé pour gérer <%= link_to notification.course.name, notification.course %>
</li>
