<header>
  <hgroup>
    <h1>Tableau de bord</h1>
  </hgroup>
</header>

<hr />

<aside class="quick-info">
  <section class="teacher_card" style="display: block;">
    <header>
      <h1>2011 - 2012</h1>
      <h2 style="font-size: 0.75em; letter-spacing: 0;">En cours</h2>
    </header>
    <p class="contact_information" style="color: #AB592B; cursor: pointer;">
      4 U.E non validées	
    </p>
    <p>
    &raquo; <a href="">C#</a><br /> &raquo; <a href="">Systèmes d'exploitation</a> <br />
    &raquo; <a href="">Logique séquentielle</a> <br />&raquo; <a href="">Assembleur</a>
    </p>
    <p class="contact_information" style=" font-weight: normal; cursor: pointer; background-color: #E9E9E9;">
      23 U.E validées &rarr;
    </p>
  </section>

  <section class="teacher_card" style="display: block;">
    <header>
      <h1>2010 - 2011</h1>
      <h2 style="font-size: 0.75em; letter-spacing: 0;">Archivé</h2>
    </header>
    <p class="contact_information" style=" font-weight: normal; cursor: pointer; background-color: #E9E9E9;">
      27 U.E validées &rarr;
    </p>
  </section>

  <section class="teacher_card" style="display: block;">
    <header>
      <h1>2009 - 2010</h1>
      <h2 style="font-size: 0.75em; letter-spacing: 0;">Archivé</h2>
    </header>
    <p class="contact_information" style=" font-weight: normal; cursor: pointer; background-color: #E9E9E9;">
      27 U.E validées &rarr;
    </p>
  </section>
</aside>

<section style="height: 35em;">
  <header>
    <h2>Activité récente</h2>
  </header>




</section>
