<% title "Tableau de bord" %>

<header> 
  <hgroup>
    <h1>Tableau de bord</h1>
  </hgroup>
</header>

<section class="active-year">

  <section class="utilities">
    <header>
      <%= link_to "Gestion des années scolaires &rarr;".html_safe, school_years_path %>
    </header>
  </section>

  <header>
    <h1>Année en cours</h1>
  </header>

  <%= render 'school_years/active_year' %>
</section>

<section class="recent-activity">

  <section class="utilities">
    <header>Depuis</header>
    <p>
      &raquo; <a href="">1 semaine</a>
      &rarr; <span style="font-style: italic;">2 semaines</span>
      &raquo; <a href="">1 mois</a>
      &raquo; <a href="">3 mois</a>
    </p>
  </section>

  <header>
    <h1>Activité récente</h1>
  </header>

  <article>
    <header>
      <h1>Lundi 5 Mars</h1>
    </header>

    <ol>
      <li class="event error">
        <time datetime="2012-03-05T11:16:45">10h16</time>
        <a href="">M. Bertier</a> a postulé pour gérer <a href="">Programmation Orientée Objet</a> (3 candidats)
      </li>

      <li class="event">
        <time datetime="2012-03-05T11:16:45">10h02</time>
        <a href="">I. Leplumey</a> a postulé pour gérer <a href="">Langage C</a>
      </li>

      <li class="event">
        <time datetime="2012-03-05T11:16:45">08h35</time>
        <a href="">L. Marchand</a> a postulé pour gérer <a href="">Assembleur</a>
      </li>
    </ol>
  </article>

  <article>
    <header>
      <h1>Vendredi 2 Mars</h1>
    </header>

    <ol>
      <li class="event">
        <time datetime="2012-03-05T11:16:45">15h26</time>
        <a href="">I. Leplumey</a> a ajouté <a href="">2 activités</a> à <a href="">F.U.S</a>
      </li>
    </ol>
  </article>

  <article>
    <header>
      <h1>Jeudi 1 Mars</h1>
    </header>

    <ol class="last">
      <li class="event success">
        <time datetime="2012-03-05T11:16:45">17h46</time> 
        <a href="">B. Arnaldi</a> a validé <a href="">Logique séquentielle</a>
      </li>

      <li class="event">
        <time datetime="2012-03-05T11:16:45">17h22</time>
        <a href="">I. Leplumey</a> a postulé pour gérer <a href="">Langages de script</a>
      </li>

      <li class="event error">
        <time datetime="2012-03-05T11:16:45">15h12</time>
        <a href="">C. Raymond</a> a postulé pour gérer <a href="">TP</a> de <a href="">Langage C</a> (5 candidats)
      </li>

      <li class="event">
        <time datetime="2012-03-05T11:16:45">09h25</time>
        <a href="">L. Marchand</a> a postulé pour gérer <a href="">Projet Compilateur</a>
      </li>
    </ol>
  </article>
</section>
