<header>
  <hgroup>
    <h1>Tableau de bord</h1>
  </hgroup>
</header>

<hr />

<aside class="quick-info">
  <section class="teacher_card" style="display: block;">
    <header>
      <h1>2011 - 2012</h1>
      <h2 style="font-size: 0.75em; letter-spacing: 0;">En cours</h2>
    </header>
    <p class="contact_information" style="color: #AB592B; cursor: pointer;">
      4 U.E non validées	
    </p>
    <p>
    &raquo; <a href="">C#</a><br /> &raquo; <a href="">Systèmes d'exploitation</a> <br />
    &raquo; <a href="">Logique séquentielle</a> <br />&raquo; <a href="">Assembleur</a>
    </p>
    <p class="contact_information" style=" font-weight: normal; cursor: pointer; background-color: #E9E9E9;">
      23 U.E validées &rarr;
    </p>
  </section>

  <section class="teacher_card" style="display: block;">
    <header>
      <h1>Archives</h1>
      <h2 style="font-size: 0.75em; letter-spacing: 0;">Les 3  dernières archives</h2>
    </header>
    <p class="contact_information" style=" font-weight: normal; font-size: 0.75em; cursor: pointer; background-color: #E9E9E9;">
      &raquo; <a href="">2010 - 2011</a> <br />
      &raquo; <a href="">2009 - 2010</a> <br />
      &raquo; <a href="">2008 - 2009</a> <br />
    </p>
    <p class="contact_information" style="text-align: right; font-size: 0.75em; font-weight: normal; cursor: pointer; background-color: #E9E9E9;">
      <a href="">Tous les archives &rarr;</a>
    </p>
  </section>
</aside>

<section class="courses" style="min-height: 54em;">
  <header>
    <h2 style="margin-bottom: 0.5em;">Activité récente</h2>
  </header>
  
  <h3>Aujourd'hui</h3>

  <article class="course" style="margin-left: 0;">
    <h3 style="font-size: 1em; font-weight: normal;"><a href="">M. Bertier</a> a postulé pour gérer <a href="">Logique séquentielle</a></h3>

    <p class="informations">
    </p>

    <div class="details" style="background-color: #FAFAFA; border-radius: 6px; padding: 0.5em; margin-top: 0.5em;">
      <p style="padding: 0.5em;" class="postulants">
      </p>
      <p class="course-actions">
        <a href="" class="button icon user">Choisir un responsable</a>
        <a href="" class="button icon edit">Modifier</a>
        <a href="" class="button icon trash">Supprimer</a>
      </p>
    </div>
    
  </article>

  <article class="course" style="margin-left: 0;">
    <h3 style="font-size: 1em; font-weight: normal;"><a href="">M. Bertier</a> a postulé pour gérer <a href="">Logique séquentielle</a></h3>

    <p class="informations">
    </p>

    <div class="details" style="background-color: #FAFAFA; border-radius: 6px; padding: 0.5em; margin-top: 0.5em;">
      <p style="padding: 0.5em;" class="postulants">
      </p>
      <p class="course-actions">
        <a href="" class="button icon user">Choisir un responsable</a>
        <a href="" class="button icon edit">Modifier</a>
        <a href="" class="button icon trash">Supprimer</a>
      </p>
    </div>
    
  </article>

  <h3>Lundi 5 Mars</h3>

  <article class="course" style="margin-left: 0;">
    <h3 style="font-size: 1em; font-weight: normal;"><a href="">M. Bertier</a> a postulé pour gérer <a href="">Logique séquentielle</a></h3>

    <p class="informations">
    </p>

    <div class="details" style="background-color: #FAFAFA; border-radius: 6px; padding: 0.5em; margin-top: 0.5em;">
      <p style="padding: 0.5em;" class="postulants">
      </p>
      <p class="course-actions">
        <a href="" class="button icon user">Choisir un responsable</a>
        <a href="" class="button icon edit">Modifier</a>
        <a href="" class="button icon trash">Supprimer</a>
      </p>
    </div>
    
  </article>

</section>
