<section id="sign_in">
  <header>
    <h1>Veuillez vous identifier</h1>
  </header>

  <%= form_tag do |t| %>
    <%= text_field_tag :username %>
    <%= submit_tag "Connexion" %>
  <% end %>
</section>
