<% title "Tableau de bord" %>

<header> 
  <hgroup>
    <h1>Tableau de bord</h1>
  </hgroup>
</header>

<%= render 'shared/flash_messages' %>

<section class="teacher-summary">
	<header>
		<h1>Vos cours</h1>
		<article>
			<header>
				<h1>U.E en charge</h1>
			</header>
			
		 	<article class="course">
	      <img class="show-details" src="assets/plus_alt_16x16.png" alt="+" />
	      <a href="/" class="manage">Gérer</a>
	      <em class="volume-horaire">120h</em>
	      <h3>Assembleur</h3>

	      <p class="informations">
	         <em class="candidats">3 postulants</em>
	      </p>

	      <div class="details">
	        <div class="candidates">
	           <em>Cours (1 groupe)</em>
	           	<ol>
	               <ul>- Laurence Roze</ul>
	            </ol>
	            <em>TD (2 groupes)</em>
	           	<ol>
	               <ul>- Laurence Roze</ul></br>
	               <ul>- Laurence Roze</ul>
	            </ol>
	            <em>TP (4 groupes)</em>
	           	<ol>
	               <ul>- Laurence Roze</ul></br>
	               <ul>- Marin Bertier</ul></br>
	               <ul>- Yvan Leplumey</ul>
	            </ol>
	            <em>Projet (4 groupes)</em>
	           	<ol>
	               <ul>- Laurence Roze</ul>
	            </ol>
	            <ul>
	               <li>
	                  <span class="actions">
	                  </span>
	                </li>
	            </ul>
	        </div>
	        <p class="actions">
	        </p>
	      </div>
	      
	    </article>
      
		</article>
		
		<article>
			<header>
				<h1>U.E enseignée</h1>
			</header>
		
			<article class="course">
	      <img class="show-details" src="assets/plus_alt_16x16.png" alt="+" />
	      <a href="/" class="manage">Se désinscrire</a>
	      <em class="volume-horaire">20h</em>
	      <h3>Langage de Script</h3>

	      <p class="informations">
	         <em class="activity">TP</em>
	      </p>

	      <div class="details">
	        <div class="candidates">
	           <em>Autres enseignants (4 groupes)</em>
	           	<ol>
	               <ul>- Laurence Roze</ul>
	            </ol>
	           
	            <ul>
	               <li>
	                  <span class="actions">
	                  </span>
	                </li>
	            </ul>
	        </div>
	        <p class="actions">
	        	<a href="/" class="contact">Contacter le responsable</a>
	        </p>
	      </div>
	      
	    </article>
	    
	    <article class="course">
	      <img class="show-details" src="assets/plus_alt_16x16.png" alt="+" />
	      <a href="/" class="manage">Se désinscrire</a>
	      <em class="volume-horaire">20h</em>
	      <h3>Base de données</h3>

	      <p class="informations">
	         <em class="activity">Cours</em>
	      </p>

	      <div class="details">
	        <div class="candidates">
	        	<em>Vous êtes le seul postulant à cette activité</em>
	            <ul>
	               <li>
	                  <span class="actions">
	                  </span>
	                </li>
	            </ul>
	        </div>
	        <p class="actions">
	        	<a href="/" class="contact">Contacter le responsable</a>
	        </p>
	      </div>
	      
	    </article>
		</article>
	</header>
</section>

<section class="recent-activity">

  <section class="utilities nav-tools">
    <header>Depuis</header>
    <p>
      &raquo; <a href="">1 semaine</a>
      &rarr; <span style="font-style: italic;">2 semaines</span>
      &raquo; <a href="">1 mois</a>
      &raquo; <a href="">3 mois</a>
    </p>
  </section>

  <header>
    <h1>Activité récente</h1>
  </header>

  <article>
    <header>
      <h1>Lundi 5 Mars</h1>
    </header>

    <ol>
      <li class="event error">
        <time datetime="2012-03-05T11:16:45">10h16</time>
        <a href="">B. Arnaldi</a> a postulé pour gérer <a href="">Programmation Orientée Objet</a> (3 candidats)
      </li>

      <li class="event">
        <time datetime="2012-03-05T11:16:45">10h02</time>
        <a href="">I. Leplumey</a> a postulé pour gérer <a href="">TP</a> de <a href="">Langage C</a>
      </li>

      <li class="event success">
        <time datetime="2012-03-05T11:16:45">08h35</time>
        <a href="">N. Jacquinot</a> vous a assigné l'unité d'enseignement <a href="">Langage C</a>
      </li>
    </ol>
  </article>

  <article>
    <header>
      <h1>Vendredi 2 Mars</h1>
    </header>

    <ol>
      <li class="event error">
        <time datetime="2012-03-05T11:16:45">15h26</time>
        <a href="">N. Jacquinot</a> a assigné l'unité d'enseignement <a href="">F.U.S</a> à <a href="">I. Leplumey</a>
      </li>
    </ol>
  </article>
</section>
