<% title "Accès non autorisé", "Erreur 401" %>
<header>
  <h1>Erreur 401 : Accès non autorisé</h1>
</header>

<p class="error">
  Vous n'avez pas les autorisations nécessaires pour accéder à cette page
</p>
