<% title "Erreur 500" %>

<header>
  <hgroup>
	  <h1>Une erreur s'est produite suite à votre requête</h1>
		<h2>Erreur 500</h2>
	</hgroup>
</header>

<hr />

<p class="notice alert centered">Nous avons été alerté de l'erreur et nous l'étudierons très bientôt.</p>
