<% title "Service inaccessible", "Erreur 503" %>

<header>
  <hgroup>
	  <h1>Le serveur de recherche ne répond pas</h1>
		<h2>Erreur 503</h2>
	</hgroup>
</header>

<hr />

<p class="notice alert centered">Il semble que notre serveur effectuant les recherches ne réponde pas. Veuillez réessayer plus tard. Merci de votre
compréhension.</p>
