<article class="teacher_card">
  <img class="close_card" src="assets/x_alt_16x16.png" />
  <header>
    <h1><%= link_to teacher.name, assign_course_manager_school_year_course_path(school_year, course, teacher), method: :post %></h1>
    <h2 style="font-size: 0.75em; letter-spacing: 0;">Enseignant-Chercheur</h2>
  </header>
</article>
