<article>
  <p>Progression &rarr; <%= active_school_year.validated_courses.count %> / <%= active_school_year.courses.count %></p>
  <p class="error"><%= pluralize active_school_year.conflicts.count, "conflit" %> </p>
  <p class="success"><%= active_school_year.validated_courses.count %> unités d'enseignement validées</p>
</article>
