<% title @course.name, @active_school_year %>

<header>
  <h1><%= @active_school_year %> / <%= @course.name %></h1>
</header>

<%= render 'shared/flash_messages' %>

<section class="activities">
  <header>
    <h1>Activités</h1>
  </header>

  <% @activities.each do |activity| %>
    <%= activity.render self %>
  <% end %>
</section>
