/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree
*/
header, section, nav, aside, footer, article {
	display: block;
}

* {
	margin: 0;
  padding: 0;
}

body {
	font-size: 100%;
	font-family: helvetica, verdana, sans-serif;
  background-image: url('/assets/background.png');

  a {
    color: #004495;
  }

	> header {
    width: 60em;
		height: 6em;
		margin: 1em auto;

    > section {
      > nav {
        float: right;

        margin: -1em 1em;
        padding: 0.25em;

        border-radius: 0 0 6px 6px;
        background-color: rgba(0, 0, 0, 0.03);
        background-clip: padding-box;

        color: #DCDCDC;

        a {
          color: #3B3B3B;
          text-shadow: 1px 0 1px #EEE;
          font-size: 0.875em;
          text-decoration: none;
        }
      }
    }
	}

	> section {
    
		width: 900px;
    margin: 1em auto;
    padding: 1em;
    box-shadow: 0 0 6px 0 #CDCDCD;
    background-color: #FFF;
    border-radius: 6px;

		> header {

			h1 {
				text-align: center;
				
				font-weight: normal;
				font-family: Georgia, serif;
				font-size: 3em;

				color: #002C61;
			}

      h2 {
        font-size: 1.2em;
        font-weight: normal;

        color: #AB592B;
      }
		}
    
		header + hr {
			height: 16px;
      width: 15em;
      border: none;
      border-bottom: 3px double #25567B;
      margin: auto;
      margin-bottom: 2em;
		}

	}
}

