p.success + section.filters {
  margin-top: 1.5em;
}

section.filters {
  display: table;
  padding: 0.5em;
  margin: 0 0 2em 0;
  background-color: #EEE;
  font-size: 0.875em;
  border-radius: 12px;
  color: #2B2B2B;
  text-shadow: 0 1px 0 #FFF;
  float: right;
  box-shadow: 0 0 3px 0 #999;
  text-align: right;
}

section.semesters {
  clear: both;
  article.semester {
    section.new-course {
      opacity: 0.3;

      div.add-course {
        display: inline-block;

        a {
          font-size: 0.875em;
        }
      }
    }
    section.new-course:hover {
      opacity: 1;
    }
  }

  article.semester:hover {
    section.new-course {
      opacity: 1;
    }
  }

  form.new-course-form {
    display: none;
  }

  h2 {
    margin: 1em 0 0 0;

    font-size: 1.5em;
    font-weight: normal;
    font-family: "Gill Sans", arial, sans-serif;

    color: #AB592B;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.duration {
  font-size: 0.875em;
  padding: 0.25em;
  background-color: #5B8DCA;
  border-radius: 2px;
}

a.show_form:active, a.show_form:focus {
  outline: 0;
}

a.disable {
  color: #BBB;
  text-decoration: none;
  font-style: italic;
  cursor: default;
}

a.disable:hover {
  color: #BBB;
}

a.plus:active, a.plus:focus {
  outline: 0;
}

ul {
  display: inline-block;

  li {
    display: inline-block;

    margin: 0 0.25em;

    font-size: 0.875em;

    list-style-type: none;

  }
}

.teacher_card {
  display: none;

  border: 3px solid #DDD;
  border-radius: 6px;
  background-color: #EEE;

  margin-bottom: 1em;

  .close_card {
    float: right; 
    cursor: pointer;
    position: absolute;
    right: -5px;
    top: -5px;
  }

  header {
    padding: 0.5em;

    h1 {
      text-align: left;
      font-size: 1.5em;
      font-family: helvetica;
      color: #2B2B2B;
    }
  }

  p {
    font-size: 0.875em;
    padding: 0.5em;
  }

  .contact_information {
    background-color: #DDD;
    line-height: 2em;
    text-shadow: 0 1px 1px #FFF;
    font-weight: bold;
    color: #2B2B2B;

    img {
      vertical-align: middle;
    }
    
  }

  h3 {
    border-radius: 6px;
    
    background-color: #F5F5F5;

    margin: 0.5em 0.5em 0 0.5em;
    padding: 0.25em;

    color: #2B2B2B;
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 1em;
  }
}

.courses {
  article {

    width: 35em;

    margin: 1em;
    padding: 0.5em;
    border-radius: 8px;
    background-color: #EEE;
    border: 2px solid #DEDEDE;

    .plus {
      display: block;
      float: right;
      img {
        vertical-align: middle;
      }
    }

    h3 {
      display: inline-block;
    }

    .informations {
      display: inline-block;

      img {
        vertical-align: middle;
      }

    }

    .details {
      display: none;

      .course-actions {
        margin: 0.5em 0.5em 0 0.5em;
        padding: 0.5em 0 0 0;
        border-top: 1px dashed #CCC;

      }

      h4 {
        border-radius: 6px;
        
        background-color: #2B2B2B;

        padding: 0.25em;

        color: #EEE;
        font-family: Georgia, serif;
        font-weight: normal;
        font-size: 1em;
      }

    }
  }

  article:hover {
    box-shadow: 0 0 8px #CCC;
  }

  article.warning {
    background-color: #F19C6D;
    border-color: #F17E3C;
    // color: #943500;

    a {
      // color: #943500;
    }

    h3, p.informations {
      color: #943500;
    }
  }

  article.warning:hover {
    box-shadow: 0 0 8px #CAA;
  }

  article.valid {
    background-color: #DFF2BF;
    border-color: #CEE1AE;
    // color: #63782E;

    a {
      // color: #63782E;
    }
    h3, .informations {
      color: #63782E;
    }
  }
  
  article.valid:hover {
    box-shadow: 0 0 8px #ACA;
  }
}
