section.active-year, section.recent-activity, section.activities {
  section.utilities {
    float: right;
    margin: 1em;
    opacity: 0.3;
    font-size: 0.875em;

    header {
      display: inline-block;
    }

    p {
      display: inline-block;

      a {
        font-weight: bold;
        text-decoration: none;
      }
    }
  }

  section.utilities:hover {
    opacity: 1;
  }
}

section.active-year {
  article {
    p {
      display: inline-block;

      margin: 0 0.5em;
      padding: 0.5em;

      background-color: #FFBF40;
    }

    p.error {
      background-color: #A62F00;
      color: #FFF;
    }

    p.success {
      background-color: #3B9F4C;
      color: #FFF;
    }
  }
}

section.recent-activity {
  margin: 1em 0;

  article {
    header {
      h1 {
        display: inline-block;

        margin: 0 1em;
        padding: 0.5em 1em;

        background-color: #EEE;

        font-size: 1em;
        font-weight: normal;
        font-family: "Gill Sans", arial, sans-serif;

        text-transform: uppercase;
        text-shadow: 0 1px 0 #FFF;
        letter-spacing: 2px;
      }
    }

    ol {
      margin: 1em 1em 2em 1em;

      li.event {
        display: table;

        margin: 0.5em;
        padding: 0.5em;

        border-radius: 6px;

        list-style-type: none; 

        font-size: 0.875em;

        time {
          font-weight: bold;
          
          color: #2B2B2B;
        }
      }

      li.error {
        background-color: #A62F00;
        color: #FFF;
      }

      li.success {
        background-color: #3B9F4C;
        color: #FFF;
      }

      li.error, li.success {
        a {
          color: #FFF;
        }

        a:hover {
          color: #EEE;
        }

        time {
          color: #FFF;
        }

        time:after {
          content: " \2192"
        }
      }
    }

    ol.last {
      margin-bottom: 1em;
    }
  }
}

section.teacher-summary {
  margin: 1em 0;

  article {
    header {
      h1 {
        display: inline-block;

        margin: 0 1em;
        padding: 0.5em 1em;

        background-color: #EEE;

        font-size: 1em;
        font-weight: normal;
        font-family: "Gill Sans", arial, sans-serif;

        text-transform: uppercase;
        text-shadow: 0 1px 0 #FFF;
        letter-spacing: 2px;
      }
    }
    
  article.course {
	  width: 35em;

	  margin: 1em;
	  padding: 0.5em;

	  border: 2px solid #DEDEDE;
	  border-radius: 8px;

	  background-color: #EEE;

	  .show-details {
	    display: block;

	    float: right;

	    margin-top: 5px;

	    cursor: pointer;
	  }

	  h3 {
	    display: inline-block;
	  }

		a.manage {
			margin-right: 10px;
			float: right;
		}
		
		em.volume-horaire {
					float: right;
					margin-right: 15px;
					font-weight : bold;
				}
				
	  .informations {
	    display: inline-block;
	    
	    img {
	      vertical-align: middle;
	    }
				em.candidats {
					margin-left: 20px;
				}
				em.activity {
					margin-left: 20px;
				}
	  }

	  .details {
	    display: none;
	
	    border-radius: 6px;
	    background-color: #FAFAFA;
	    
	    margin-top: 0.5em;
	    padding: 0.5em;


	    div.candidates {
	      padding: 0.5em;

	      span.actions {
	        opacity: 0.7;
	        color: #2B2B2B;
	        font-size: 0.875em;
	      }
	    }

	    p.actions {
	      margin: 0.5em 0.5em 0 0.5em;
	      padding: 0.5em 0 0 0;

	      border-top: 1px dashed #CCC;
	    }

	    h4 {
	      padding: 0.25em;

	      border-radius: 6px;
	      background-color: #2B2B2B;

	      font-family: Georgia, serif;
	      font-weight: normal;
	      font-size: 1em;

	      color: #EEE;
	    }
		}
  }
	}
}

