// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require_self
 *= require form
*/
header, section, nav, aside, footer, article {
	display: block;
}

* {
	margin: 0;
  padding: 0;
}

body {
	font-size: 100%;
	font-family: helvetica, verdana, sans-serif;

  background-image: url('/assets/background.png');

  a {
    color: #004495;
  }

  a:hover {
    color: #5B8DCA;
  }

  #sign_in {
    padding: 8% 0;

    #logo {
      width: 256px;
      height: 96px;
      
      margin: auto;
    }

    #sign_in_form {

      display: table;

      margin: 1em auto;
      padding: 1em;

      background-color: #FBFBFB;
      box-shadow: 0 0 3px 3px #EEE;

      header {
        h1 {
          font-size: 1.25em;
          font-family: helvetica, arial, sans-serif;

          color: #2B2B2B;

          text-align: left;
        }
      }

      p.error { 
        margin: 0.5em;
        padding: 0.5em;

        background-color: #A62F00;

        font-weight: bold;
        font-size: 0.875em;

        color: #FFF;

        text-align: center;
      }
    }

    #help_message {
      font-size: 0.875em;

      color: #2B2B2B;

      text-align: center;
    }
  }
}
