section.teachers-stats {
   > article { 
    p {
      display: inline-block;

      margin: 0 0.5em;
      padding: 0.5em;

      background-color: #FFBF40;

      text-shadow: 1px 1px 0 #DDD;
    }
  }

  section.utilities {
    float: right;
    margin: 1em;
    opacity: 0.3;
    font-size: 0.875em;

    header {
      display: inline-block;
    }
  }

  section.utilities:hover {
    opacity: 1;
  }
}

section.teachers {

  margin: 2em 0 0 0;

  h2 {
    margin: 1em 0 0 0;

    font-size: 1.5em;
    font-weight: normal;
    font-family: "Gill Sans", arial, sans-serif;

    color: #AB592B;

    text-transform: uppercase;
    letter-spacing: 2px;
  }

  article.teacher {
    width: 35em;

    margin: 1em;
    padding: 0.5em;

    border: 2px solid #DEDEDE;
    border-radius: 8px;

    background-color: #EEE;

    .show-details {
      display: block;

      float: right;

      margin-top: 5px;

      cursor: pointer;
    }

    h3 {
      display: inline-block;
      
      a {
        color: #2B2B2B;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }

    }

    .informations {
      display: inline-block;

      img {
        vertical-align: middle;
      }

      .responsabilities-count {
        background-color: #1C4270;
      }

      .activities-count {
        background-color: #AB8F2B;
      }

      .work-time {
        background-color: #2B2B2B;
      }

    }

    .details {
      display: none;

      border-radius: 6px;
      background-color: #FAFAFA;
      
      margin-top: 0.5em;
      padding: 0.5em;

      ul {
        li {
          margin: 0.5em;

          font-size: 0.875em;

          list-style-type: none;

        }
      }

      p.actions {
        margin: 0.5em 0.5em 0 0.5em;
        padding: 0.5em 0 0 0;

        border-top: 1px dashed #CCC;
      }

      p.notice {
        background-color: #FAFAFA;
      }

      h4 {
        padding: 0.25em;

        border-radius: 6px;
        background-color: #2B2B2B;

        font-family: Georgia, serif;
        font-weight: normal;
        font-size: 1em;

        color: #EEE;
      }

    }
  }

  article:hover {
    box-shadow: 0 0 8px #CCC;
  }

  article.warning {
    background-color: #F19C6D;
    border-color: #F17E3C;

    h3, p.informations {
      color: #943500;
    }
  }

  article.warning:hover {
    box-shadow: 0 0 8px #CAA;
  }

  article.valid {
    background-color: #DFF2BF;
    border-color: #CEE1AE;

    h3, .informations {
      color: #63782E;
    }
  }
  
  article.valid:hover {
    box-shadow: 0 0 8px #ACA;
  }
}

.teacher_card {
  display: inline-block;

  border: 3px solid #DDD;
  border-radius: 6px;
  background-color: #EEE;

  margin: 1em;
  width: 22em;

  header {
    padding: 0.5em;

    h1 {
      text-align: left;
      a {
        font-size: 1.5em;
        font-family: helvetica;
        color: #2B2B2B;
        text-decoration: none;
      }
    }

    h2 {
      margin: 0;
    }
  }
}

@media print {
  .teachers-stats {
    display: none;
  }

  section.teachers article.teacher .show-details {
    display: none;
  }

  section.teachers article.teacher .details {
    display: block;
  }
}
