<article class="activity">
  <%= image_tag "plus_alt_16x16.png", class: "show-details", alt: "+" %>
  <h3><%= activity.type %></h3>

  <p style="" class="informations">
    &rarr;
  </p>

  <div class="teachers">

  </div>

  <div class="details">
    <p class="actions">
    </p>
  </div>
  
</article>
